body{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    background-color: #661710;
    font-family: Arial, Helvetica, sans-serif;
}

#profile-container{
    max-width: 300px;
    margin: 80px auto;
    background-color: #F23827;
    border: 1px solid #CC2F21;
    border-radius: 6px;
}

#the-profile{
    width: 100%;
    height: auto;
}

#profile-name{
    text-align: center;
    color: #661710;
}


#header{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #A8271B;
    font-size: xx-large;
    text-align:center;
    color:#661710;
}

#footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background-color: #A8271B;
    font-size: xx-large;
    text-align: center;
    color: #661710;
}

#profile-job{
    text-align: center;
    color: #661710;
}